In [1]:
import polars as pl
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import plotly.express as px
import seaborn as sns
import numpy as np

In [5]:
df = pd.read_excel(r"../dano_base.xlsx")
df

,Unnamed: 0,application_id,primary_income_dt,party_rk,product_code,account_own_flg,sch_flg,success_flg,validation_flg,reject_flg,...,inkas_flg,cash_out_flg,vzr_flg,concierge_flg,cb_flg,invest_flg,mobile_flg,out_c2c_flg,car_ins_flg,percent_flg
0,0,3379c95477164e679ef80291a36a50ec,2023-03-05,772887927.0,DCV,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1,2e23732fef4749e1ae7a89ec978b7bf7,2023-03-05,858351423.0,DCV,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,2,df795c04bd834c0d8a2960d3b0593938,2023-03-09,864683115.0,DCV,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,7c2512d6bf2d47fe91eefc75f8062698,2023-03-13,294312227.0,DCV,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,ca547a88dd0c42f2a50657af01b87317,2023-03-03,815163498.0,DCV,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73707,73707,8168937fbe4c447ca420614d4e032d94,2023-03-14,380072334.0,DCV,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
73708,73708,18de6aaefd9c478a9a2f7a04750e3d56,2023-03-21,941415613.0,DCV,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
73709,73709,f03232cd563044f299b400a49ad95534,2023-03-03,863738223.0,DCV,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
73710,73710,269435523adf4ec79361fa9fec903967,2023-03-09,956387021.0,DCV,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
73711,73711,f50e3c0e54164e5ba48ca78e135b8dc2,2023-03-10,392912811.0,DCV,1,1,1,0,0,...,0,0,0,0,0,1,0,0,0,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73712 entries, 0 to 73711
Data columns (total 66 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 73712 non-null  int64
 1   application_id             73711 non-null  object
 2   primary_income_dt          73712 non-null  datetime64[ns]
 3   party_rk                   73709 non-null  float64
 4   product_code               73712 non-null  object
 5   account_own_flg            73712 non-null  int64
 6   sch_flg                    73712 non-null  int64
 7   success_flg                73712 non-null  int64
 8   validation_flg             73712 non-null  int64
 9   reject_flg                 73712 non-null  int64
 10  account_flg                73712 non-null  int64
 11  utilization_flg            73712 non-null  int64
 12  ccr_account_first_open_dt  31029 non-null  datetime64[ns]
 13  dep_account_first_open_dt  1925 non-null   datetime64[ns]
 14  cur_account_first_open_dt  72904 non-null  datetime64[ns]
 15  sav_account_first_open_dt  27508 non-null  datetime64[ns]
 16  cln_account_first_open_dt  3745 non-null   datetime64[ns]
 17  pos_account_first_open_dt  6896 non-null   datetime64[ns]
 18  subscription_time          41818 non-null  float64
 19  channel_desc               73712 non-null  object
 20  region_size                72927 non-null  object
 21  trial_type                 43353 non-null  object
 22  metall_flg                 73712 non-null  int64
 23  age_segment                73645 non-null  object
 24  res_segment                73645 non-null  object
 25  open_cc_flg                73712 non-null  int64
 26  util_cc_flg                73712 non-null  int64
 27  open_cn_flg                73712 non-null  int64
 28  util_cn_flg                73712 non-null  int64
 29  open_sav_flg               73712 non-null  int64
 30  util_sav_flg               73712 non-null  int64
 31  open_dep_flg               73712 non-null  int64
 32  util_dep_flg               73712 non-null  int64
 33  open_mb_flg                73712 non-null  int64
 34  util_mb_flg                73712 non-null  int64
 35  open_inv_flg               73712 non-null  int64
 36  util_inv_flg               73712 non-null  int64
 37  in_5ms_cnt                 73712 non-null  int64
 38  in_3ms_cnt                 71576 non-null  float64
 39  in_1ms_cnt                 71447 non-null  float64
 40  out_5ms_puc_cnt            73712 non-null  int64
 41  out_3ms_puc_cnt            71576 non-null  float64
 42  out_1ms_puc_cnt            71447 non-null  float64
 43  out_5ms_uch_cnt            73712 non-null  int64
 44  out_3ms_uch_cnt            71576 non-null  float64
 45  out_1ms_uch_cnt            71447 non-null  float64
 46  out_5ms_all_cnt            73712 non-null  int64
 47  out_3ms_all_cnt            71576 non-null  float64
 48  out_1ms_all_cnt            71447 non-null  float64
 49  in_total_5ms_amt           73712 non-null  float64
 50  in_total_3ms_amt           73712 non-null  float64
 51  in_total_1ms_amt           73712 non-null  float64
 52  out_total_5ms_amt          73712 non-null  float64
 53  out_total_3ms_amt          73712 non-null  float64
 54  out_total_1ms_amt          73712 non-null  float64
 55  lk_flg                     73712 non-null  int64
 56  inkas_flg                  73712 non-null  int64
 57  cash_out_flg               73712 non-null  int64
 58  vzr_flg                    73712 non-null  int64
 59  concierge_flg              73712 non-null  int64
 60  cb_flg                     73712 non-null  int64
 61  invest_flg                 73712 non-null  int64
 62  mobile_flg                 73712 non-null  int64
 63  out_c2c_flg                73712 non-null  int64
 64  car_ins_flg                73712 non-null  int64
 65  percent_flg                73712 non-null  int64
dtypes: datetime64[ns](7), float64(16), int64(36), object(7)
memory usage: 37.1+ MB

In [8]:
df.describe()

,Unnamed: 0,primary_income_dt,party_rk,account_own_flg,sch_flg,success_flg,validation_flg,reject_flg,account_flg,utilization_flg,...,inkas_flg,cash_out_flg,vzr_flg,concierge_flg,cb_flg,invest_flg,mobile_flg,out_c2c_flg,car_ins_flg,percent_flg
count,73712.000000,73712,7.370900e+04,73712.000000,73712.000000,73712.000000,73712.000000,73712.000000,73712.000000,73712.000000,...,73712.000000,73712.000000,73712.000000,73712.000000,73712.000000,73712.000000,73712.0,73712.000000,73712.000000,73712.000000
mean,36855.500000,2023-03-16 04:06:17.034946816,7.179178e+08,0.855166,0.414885,0.261816,0.099902,0.603687,0.653476,0.288013,...,0.000041,0.007624,0.005996,0.001818,0.008370,0.078603,0.0,0.022574,0.003880,0.009808
min,0.000000,2023-03-01 00:00:00,1.320000e+04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
25%,18427.750000,2023-03-08 00:00:00,5.565410e+08,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
50%,36855.500000,2023-03-16 00:00:00,7.852314e+08,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
75%,55283.250000,2023-03-24 00:00:00,9.445555e+08,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
max,73711.000000,2023-03-31 00:00:00,1.062670e+09,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000
std,21278.965858,NaN,2.569007e+08,0.351936,0.492706,0.439626,0.299872,0.489134,0.475866,0.452840,...,0.006379,0.086984,0.077204,0.042598,0.091107,0.269120,0.0,0.148543,0.062169,0.098551

In [22]:
df = df.dropna(subset="subscription_time")
df

,Unnamed: 0,application_id,primary_income_dt,party_rk,product_code,account_own_flg,sch_flg,success_flg,validation_flg,reject_flg,...,inkas_flg,cash_out_flg,vzr_flg,concierge_flg,cb_flg,invest_flg,mobile_flg,out_c2c_flg,car_ins_flg,percent_flg
1,1,2e23732fef4749e1ae7a89ec978b7bf7,2023-03-05,858351423.0,DCV,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,2,df795c04bd834c0d8a2960d3b0593938,2023-03-09,864683115.0,DCV,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,7c2512d6bf2d47fe91eefc75f8062698,2023-03-13,294312227.0,DCV,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,ca547a88dd0c42f2a50657af01b87317,2023-03-03,815163498.0,DCV,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6,6,a1ed0e65df5242fcaf08713a4e90948e,2023-03-29,753966360.0,DCV,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73703,73703,461d7cf81bd5430899cec42a6fb18741,2023-03-30,698060918.0,DCV,1,1,1,0,0,...,0,0,0,0,0,1,0,0,0,0
73704,73704,9dd6813da8b64ce69d66933022e93ee0,2023-03-30,852830245.0,DCV,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
73705,73705,c3d9072737e24388a88227d08399a4bb,2023-03-04,803521909.0,DCV,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
73707,73707,8168937fbe4c447ca420614d4e032d94,2023-03-14,380072334.0,DCV,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
73711,73711,f50e3c0e54164e5ba48ca78e135b8dc2,2023-03-10,392912811.0,DCV,1,1,1,0,0,...,0,0,0,0,0,1,0,0,0,0

In [25]:
df.reject_flg.value_counts()

reject_flg
0    23499
1    18319
Name: count, dtype: int64

In [31]:
df = df.loc[df["reject_flg"] == 0]
df

,Unnamed: 0,application_id,primary_income_dt,party_rk,product_code,account_own_flg,sch_flg,success_flg,validation_flg,reject_flg,...,inkas_flg,cash_out_flg,vzr_flg,concierge_flg,cb_flg,invest_flg,mobile_flg,out_c2c_flg,car_ins_flg,percent_flg
2,2,df795c04bd834c0d8a2960d3b0593938,2023-03-09,864683115.0,DCV,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,7c2512d6bf2d47fe91eefc75f8062698,2023-03-13,294312227.0,DCV,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6,6,a1ed0e65df5242fcaf08713a4e90948e,2023-03-29,753966360.0,DCV,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8,8,c72c66234bde4c5ca451dea5d623198c,2023-03-13,956250503.0,DCV,1,1,1,0,0,...,0,0,0,0,0,1,0,0,0,0
16,16,6e35627b117c405b99a211ca9d587f41,2023-03-13,321565424.0,DCV,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73698,73698,1734adb2d1104adca4d2cb37b88f5513,2023-03-24,856049457.0,DCV,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
73699,73699,b4ed59376d304c6d81b2085f74c7e9cc,2023-03-28,996743753.0,DCV,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
73703,73703,461d7cf81bd5430899cec42a6fb18741,2023-03-30,698060918.0,DCV,1,1,1,0,0,...,0,0,0,0,0,1,0,0,0,0
73704,73704,9dd6813da8b64ce69d66933022e93ee0,2023-03-30,852830245.0,DCV,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
73711,73711,f50e3c0e54164e5ba48ca78e135b8dc2,2023-03-10,392912811.0,DCV,1,1,1,0,0,...,0,0,0,0,0,1,0,0,0,0

In [37]:
df[["in_total_5ms_amt", "in_total_3ms_amt", "in_total_1ms_amt"]]

       in_total_5ms_amt  in_total_3ms_amt  in_total_1ms_amt
2                  0.00              0.00              0.00
3              35235.85          35235.85          35235.85
6               8361.90              0.00              0.00
8             190552.36         190552.36         114952.87
16              2440.16           2440.16           2440.16
...                 ...               ...               ...
73698          79107.86          79009.02          79009.02
73699              0.00              0.00              0.00
73703         325514.01         235349.38          87433.24
73704          42697.13          37911.92            998.25
73711         148719.43         146527.43         137024.70

[23499 rows x 3 columns]